@import url("https://fonts.googleapis.com/css?family=Raleway");

$main-font: 'Raleway', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#container {
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: $main-font;
  #quote-box {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 4px;
    min-width: 600px;
    max-width: 600px;
    height: auto;
    #quote-text {
        font-size: 2em;
        text-align: center;
        font-weight: 700;
    }
    #quote-author {
        margin: 15px 0;
        text-align: center;
        font-size: 1.5em;
        font-style: italic;
    }
    #buttons {
      width: 100%;
      display: block;
      .button{
        cursor: pointer;
        background-color: #555;
        color: #FFF;
        opacity: 1;
        width: auto;
        border: none;
        outline: none;
        font-size: 1.2em;
        padding: 0px;
        padding: 8px 12px ;
        border-radius: 3px;
        &:hover {
          opacity: 0.9;
        }
      }
      #tweet-quote,
      #facebook-quote{
        float: left;
        margin-right: 8px;
        width: 40px;
        text-align: center;
      }
      #new-quote {
        float: right;
      }
    }
  }
}
